@font-face {
  font-family: 'Stratos Skyeng';
  font-style: normal;
  font-weight: 400;
  src: local('Stratos Skyeng'),
  url('../fonts/stratosskyengweb-regular.woff2') format('woff2'),
  url('../fonts/stratosskyengweb-regular.woff') format('woff');
}
